@model IEnumerable<CameraShortDetailsModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12">
    <br />
    @if (Model.Any())
    {
        @foreach (var cam in Model)
        {
            @Html.Partial("_CameraPartial", cam)
        }
    }
    else
    {
        <h1>No cameras are on sale currently</h1>
    }
</div>