<main>
    <br />
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="list-group" id="myList" role="tablist">
                    {{{contests}}}
                </div>
                <hr />
                <div class="col col-8 ml-auto mr-auto">
                    <a href="/submissions/create" class="btn col btn-outline-dark">Create</a>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content">
                    {{{submissions}}}
                </div>
            </div>
        </div>
    </div>
</main>