<header class="clearfix" id="profile">
    <div id="cashier">
        <span>Cashier: </span>
        <a href="#">{{cashier}}</a>
    </div>
    {{#if isAuth}}
    {{> navigation}}
    {{/if}}
</header>