@{
    ViewData["Title"] = "Home Page";
}

<div class="col-md-12 text-center">
    <h1>Work in progress...</h1>
    <h3>Enjoy this cat in the meanwhile</h3>
    <div class="col-md-6 col-md-offset-3">
        <a href="http://thecatapi.com"><img src="http://thecatapi.com/api/images/get?format=src&type=gif" class="img-responsive"></a>
    </div>
</div>