<div class="row space-top">
  <div class="col-md-12">
    <h1>Furniture Details</h1>
  </div>
</div>
<div class="row space-top">
  <div class="col-md-4">
    <div class="card text-white bg-primary">
      <div class="card-body">
        <blockquote class="card-blockquote">
          <img src="{{furnitureModel.image}}" class="detailsImage" />
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <p>Make: {{furnitureModel.make}}</p>
    <p>Model: {{furnitureModel.model}}</p>
    <p>Year: {{furnitureModel.year}}</p>
    <p>Description: {{furnitureModel.description}}</p>
    <p>Price: {{furnitureModel.price}}</p>
    <p>Material: {{furnitureModel.material}}</p>
  </div>
</div>