<h1>Login Form</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <!-- Value: {{loginForm.value | json}} Valid: {{loginForm.status | json}} -->
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" formControlName="username" required>
    <div class="alert alert-danger loginErrorMsg" *ngIf="username.errors?.pattern">Username must start with a capital letter and must contain only letters and digits.</div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password" required>
    <div class="alert alert-danger loginErrorMsg" *ngIf="password.errors?.required && password.touched">Password is a required field.</div>
  </div>
  <button type="submit" [disabled]="loginForm.invalid" class="btn btn-success">Login</button>
  <div class="alert alert-danger loginErrorMsg" *ngIf="errorMessage">{{errorMessage}}</div>
</form>