<main class="col-6 ml-auto mr-auto text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-center"><h1 class="display-3">Create Contest</h1></div>
                <br />
                <form method="post">
                    <div class="form-group row">
                        <label class="sr-only">Contest Name</label>
                        <input name="ContestName" class="form-control" />
                    </div>
                    <input type="submit" class="btn btn-outline-success btn-lg btn-block"
                           value="Create" />
                </form>

                <br />
            </div>
        </div>
    </div>
</main>
<br />