@model AllCarsFromMakeModel
@{
    this.ViewData["Title"] = "All cars";
}

<table class="table table-striped">
    <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Travelled Distance</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Cars)
        {
            <tr>
                <td>@car.Make</td>
                <td>@car.Model</td>
                <td>@car.TravelledDistance</td>
            </tr>
        }
        @if (Model.Cars.Count == 0)
        {
            <tr>
                <td colspan="3">No results :(</td>
            </tr>
        }
    </tbody>
</table>