<section>
  <h2>Login</h2>
  <div class="spacer">
    <form action="/users/login" method="POST">
      <label>Email:</label>
      <input type="text" name="username" />
      <label>Password:</label>
      <input type="password" name="password" />
      <input type="submit" value="Login">
    </form>
  </div>
</section>