<section>
  <h2>Register</h2>
  <div class="spacer">
    <form action="/users/register" method="POST">
      <label>Email:</label>
      <input type="text" name="username" value="{{username}}"/>
      <label>Password:</label>
      <input type="password" name="password" />
      <label>Repeat password:</label>
      <input type="password" name="repeatPassword" />
      <input type="submit" value="Register">
    </form>
  </div>
</section>