<section>
    <h2>{{title}}</h2>
    <div class="spacer">
        <h3>Edit history</h3>
        <ul>
            {{#each historyItems}}
                {{> historyItem}}
            {{/each}}
        </ul>
    </div>
</section>