<section id="featured">
    <h2>Latest article</h2>
    <article>
        <h3>{{latest.title}}</h3>
        <p>
            {{{latest.content}}}
        </p>
        <div class="controls">
            <a href="/article/details/{{latest.id}}">Read more</a>
        </div>
    </article>
</section>